* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

.wrapper {
    min-height: 100%;
    position: relative;
}

.FULLVIDEO {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.FULLVIDEO::after {
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.fullvideo__title {
    font-size: 300px;
    color: white;
    z-index: 10;
}

.movie {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    color: red;
    position: relative;
    z-index: 10;
}